<section id="hero_2" class="restaurant_bg">
  <div class="intro_title animated fadeInDown">
    <h1>Place your Deal</h1>
    <div class="bs-wizard">

      <div class="col-xs-6 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">Your details</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
      </div>

      <div class="col-xs-6 bs-wizard-step disabled">
        <div class="text-center bs-wizard-stepnum">Finish!</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="confirmation_restaurant.html" class="bs-wizard-dot"></a>
      </div>

    </div>  <!-- End bs-wizard -->
  </div>   <!-- End intro-title -->
</section>


<div id="position">
  <div class="container">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Category</a></li>
      <li>Page active</li>
    </ul>
  </div>
</div><!-- End position -->