<% provide(:title, 'All The Deals') %>
<section class="parallax-window" data-parallax="scroll" data-image-src="img/restaurant_top.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="">
      <h1>Paris Restaurants</h1>
      <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
    </div>
  </div>
</section><!-- End section -->

<%=render 'common/position'%>
<div class="container margin_60">
  <div class="row">
    <%= render 'deals/all_deals_filtre'%>
    <!--End aside -->
    <div class="col-lg-9 col-md-8">
      <div id="tools">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <select name="sort_price" id="sort_price">
                <option value="" selected>Sort by price</option>
                <option value="lower">Lowest price</option>
                <option value="higher">Highest price</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <select name="sort_rating" id="sort_rating">
                <option value="" selected>Sort by ranking</option>
                <option value="lower">Lowest ranking</option>
                <option value="higher">Highest ranking</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 hidden-xs text-right">
            <a href="#" class="bt_filters"><i class="icon-th"></i></a> <a href="all_tours_list.html" class="bt_filters"><i class=" icon-list"></i></a>
          </div>
        </div>
      </div><!--End tools -->

      <div class="row">
        <%@deals.each do |deal|%>
            <%= render 'deal', deal: deal %>
         <%end%><!-- End col-md-6 -->
      </div><!-- End row -->
      <hr>

      <div class="text-center">
        <ul class="pagination">
          <%# will_paginate @deals, renderer: BootstrapPagination::Rails %>
        </ul>
      </div><!-- end pagination-->

    </div><!-- End col lg 9 -->
  </div><!-- End row -->
</div><!-- End container -->

<!-- Specific scripts -->
<!-- Cat nav mobile -->
<script  src="js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<!-- Check and radio inputs -->
<script src="js/icheck.js"></script>
<script>
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-grey',
    radioClass: 'iradio_square-grey'
  });
</script>
